<label>
  <input type="checkbox" name="ingredients" value="<%= ingredient.id %>" id="input<%= ingredient.id %>" class="visually-hidden" />
  <img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" />
  <!-- <%= ingredient.id %> -->
</label>