<label class="ingredient">
  <input type="checkbox" name="ingredients" value="<%= ingredient.id %>" id="input<%= ingredient.id %>" class="visually-hidden" data-color="<%= %>"/>
  <img src="<%= ingredient.asset %>" alt="<%= ingredient.name %>" />
  <!-- <%= ingredient.id %> -->
</label>