<%- include('partials/meta/head', {page: "result"}) %>

<main style="background-color: <%= data.color.rgba %>;">
  <h2>You brewed:</h2>
  <h1><%= data.name %></h1>
  <img src="<%= data.asset %>" alt="<%= data.name %>" />
  <a href="/">Brew another</a>
</main>

<%- include('partials/meta/foot') %>
