<%- include('partials/meta/head', {page: "result"}) %>

<main>
  <h2>You brewed:</h2>
  <h1><%= data.name %></h1>
  <img src="<%= data.asset %>" alt="<%= data.name %>" />
  <a href="/">Go back</a>
</main>

<%- include('partials/meta/foot') %>
